// Primary

$dark-blue: rgb(28, 36, 49);
$dark-blue-mg: rgb(24, 31, 42);
$dark-blue-fg: rgb(11, 21, 35);
$dark-blue-tg:rgb(32, 42, 60);

// Accent 

$cyan:#65e2d9;
$blue:#339ecc;
$light-red: rgb(255, 66, 66);


